@font-face {
  font-family: "Monospace1";
  src: local("Menlo");
  font-weight: 500 !important;
}
@font-face {
  font-family: "Monospace2";
  src: local("Monaco");
  font-weight: 500 !important;
}
@font-face {
  font-family: "Monospace3";
  src: local("Consolas");
  font-weight: 500 !important;
}
[control="CPHEditor"] {
  text-align: left;
  font-size: 12px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: block;
}
[control="CPHEditor"] * {
  box-sizing: border-box;
}
@keyframes ce-animate-no {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes ce-caret-animation {
  0% {
    border-color: #4c6eff;
  }
  50% {
    border-color: #4c6eff;
  }
  51% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}
[control="CPHEditor"].animate-no {
  animation: ce-animate-no 0.1s linear infinite;
}
[control="CPHEditor"].focus:not(.readonly) {
  border-color: #3556e3;
}
[control="CPHEditor"]:not(.focus)
  .editor
  .line-numbers
  .number.selected:not(.error),
[control="CPHEditor"].disabled
  .editor
  .line-numbers
  .number.selected:not(.error) {
  background-color: transparent;
}
[control="CPHEditor"]:not(.focus)
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border,
[control="CPHEditor"].disabled
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border {
  margin: 0px -1px;
  padding: 0px 1px;
  border-radius: 4px;
}
[control="CPHEditor"]:not(.focus)
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border
  .focus,
[control="CPHEditor"]:not(.focus)
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border:before,
[control="CPHEditor"]:not(.focus)
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border:after,
[control="CPHEditor"]:not(.focus)
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border.length-0,
[control="CPHEditor"].disabled
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border
  .focus,
[control="CPHEditor"].disabled
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border:before,
[control="CPHEditor"].disabled
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border:after,
[control="CPHEditor"].disabled
  .editor
  .edit-text
  div.render
  div.line
  div.selection
  span.border.length-0 {
  display: none;
}
[control="CPHEditor"]:not(.focus)
  .editor
  .edit-text
  div.render
  div.line
  div.line-selection.highlight:not(.error),
[control="CPHEditor"].disabled
  .editor
  .edit-text
  div.render
  div.line
  div.line-selection.highlight:not(.error) {
  background-color: transparent;
}
[control="CPHEditor"].disabled * {
  user-select: none;
  pointer-events: none;
}
[control="CPHEditor"].disabled .editor .line-numbers {
  background-color: #f8f8f8;
}
[control="CPHEditor"].disabled .editor {
  background-color: #f8f8f8;
  filter: grayscale(50%);
}
[control="CPHEditor"].readonly .read-only {
  display: flex;
}
[control="CPHEditor"].nolines .editor .line-container {
  display: none;
}
[control="CPHEditor"] .read-only {
  pointer-events: none;
  font-family: "Source Code Pro", Monospace1, Monospace2, Monospace3, monospace;
  font-variant-ligatures: none !important;
  font-weight: 400;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 7px;
  margin-right: 23px;
  font-size: 12px;
  line-height: 1em;
  padding: 4px;
  z-index: 1;
  background-color: #666;
  border-radius: 4px;
  color: #fff;
}
[control="CPHEditor"] .read-only [data-language] {
  display: none;
}
[control="CPHEditor"][data-maximized] {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}
[control="CPHEditor"][data-maximized] .editor {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
[control="CPHEditor"].is-mobile .editor textarea {
  caret-color: #4c6eff !important;
  opacity: 1;
}
[control="CPHEditor"] .editor {
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}
[control="CPHEditor"] .editor[data-debug] textarea {
  opacity: 1;
  color: rgba(224, 30, 30, 0.5);
  caret-color: #e01e1e;
}
[control="CPHEditor"] .editor[data-debug] textarea::selection {
  background-color: rgba(255, 170, 153, 0.5);
}
[control="CPHEditor"] .editor .line-container {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: relative;
  width: 48px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
}
[control="CPHEditor"] .editor .line-container.scrolled-x {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
}
[control="CPHEditor"] .editor .line-container .line-numbers {
  position: absolute;
  left: 0px;
  z-index: 20;
  flex-shrink: 0;
  width: 100%;
  height: calc(100% + 18px);
  font-size: 12px;
  transform: translate3d(0px, 0px, 0px);
  font-family: "Source Code Pro", Monospace1, Monospace2, Monospace3, monospace;
  font-variant-ligatures: none !important;
  font-weight: 400;
}
[control="CPHEditor"] .editor .line-container .line-numbers div.number {
  position: absolute;
  display: block;
  padding-right: 16px;
  width: 100%;
  text-align: right;
  color: #ddd;
  margin-top: 7px;
  transform: translate3d(0px, 0px, 0px);
  height: 18px;
  line-height: 18px;
}
[control="CPHEditor"]
  .editor
  .line-container
  .line-numbers
  div.number.selected {
  color: #666;
}
[control="CPHEditor"] .editor .line-container .line-numbers div.number.error {
  color: #e01e1e;
}
[control="CPHEditor"] .editor .edit-text {
  flex-grow: 1;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  display: inline-flex;
  position: relative;
}
[control="CPHEditor"] .editor .edit-text .scrollbar {
  position: absolute;
  z-index: 10;
}
[control="CPHEditor"] .editor .edit-text .scrollbar.vertical {
  top: 1px;
  bottom: 1px;
  right: 0px;
  overflow: visible;
}
[control="CPHEditor"] .editor .edit-text .scrollbar.vertical .scroller {
  margin-right: 1px;
  width: 16px;
  top: 0px;
  right: 0px;
  height: 0px;
}
[control="CPHEditor"] .editor .edit-text .scrollbar.vertical .scroller:before {
  top: 0px;
  height: 100%;
  width: 8px;
  transition: width 0.1s ease-in-out;
}
[control="CPHEditor"]
  .editor
  .edit-text
  .scrollbar.vertical
  .scroller:hover:before {
  width: 16px;
}
[control="CPHEditor"] .editor .edit-text .scrollbar.vertical .scroller.manual {
  transition: height 0.1s ease-in-out, background-color 0.1s ease-in-out,
    opacity 0.2s ease-in-out;
}
[control="CPHEditor"]
  .editor
  .edit-text
  .scrollbar.vertical
  .scroller.manual:before {
  width: 16px;
}
[control="CPHEditor"] .editor .edit-text .scrollbar.horizontal {
  bottom: 0px;
  left: 1px;
  right: 1px;
  overflow: visible;
}
[control="CPHEditor"] .editor .edit-text .scrollbar.horizontal .scroller {
  margin-bottom: 1px;
  width: 0px;
  bottom: 0px;
  left: 0px;
  height: 16px;
}
[control="CPHEditor"]
  .editor
  .edit-text
  .scrollbar.horizontal
  .scroller:before {
  bottom: 0px;
  width: 100%;
  height: 8px;
  transition: height 0.1s ease-in-out;
}
[control="CPHEditor"]
  .editor
  .edit-text
  .scrollbar.horizontal
  .scroller:hover:before {
  height: 16px;
}
[control="CPHEditor"]
  .editor
  .edit-text
  .scrollbar.horizontal
  .scroller.manual {
  transition: width 0.1s ease-in-out, background-color 0.1s ease-in-out,
    opacity 0.2s ease-in-out;
}
[control="CPHEditor"]
  .editor
  .edit-text
  .scrollbar.horizontal
  .scroller.manual:before {
  height: 16px;
}
[control="CPHEditor"] .editor .edit-text .scrollbar .scroller {
  transform: scaleX(0);
  position: absolute;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: translate3d(0px, 0px, 0px);
  transition: height 0.1s ease-in-out, width 0.1s ease-in-out,
    background-color 0.1s ease-in-out, opacity 0.2s ease-in-out;
}
[control="CPHEditor"] .editor .edit-text .scrollbar .scroller:before {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1000px;
}
[control="CPHEditor"] .editor .edit-text .scrollbar .scroller.scrolling {
  opacity: 1;
  pointer-events: all;
}
[control="CPHEditor"] .editor .edit-text .scrollbar .scroller.manual {
  pointer-events: all;
}
[control="CPHEditor"] .editor textarea {
  padding: 7px;
  z-index: 1;
  overflow: auto;
  position: absolute;
  width: calc(100% - 7px);
  height: 100%;
  overflow: auto;
  overscroll-behavior-x: contain;
  opacity: 0.01;
  color: transparent;
  caret-color: transparent;
}
[control="CPHEditor"] .editor textarea::selection {
  background-color: transparent;
}
[control="CPHEditor"] .editor div.render {
  overflow: visible;
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 7px 0px;
}
[control="CPHEditor"]
  .editor
  div.render.blink
  div.line
  div.selection
  span.border.lb:before,
[control="CPHEditor"]
  .editor
  div.render.blink
  div.line
  div.selection
  span.border.rb:after {
  animation: ce-caret-animation 1s linear infinite;
}
[control="CPHEditor"] .editor div.render.sample {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
[control="CPHEditor"] .editor div.render.limit {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
}
[control="CPHEditor"] .editor div.render.limit > .fill {
  padding-left: 7px;
  display: inline-block;
  position: relative;
  white-space: pre;
  opacity: 0;
}
[control="CPHEditor"] .editor div.render div.line {
  width: 10000px;
  margin-top: 7px;
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  height: 18px;
  overflow: visible;
}
[control="CPHEditor"] .editor div.render div.line > .fill {
  padding: 0px 7px;
  display: inline-block;
  position: relative;
  height: 100%;
  white-space: pre;
}
[control="CPHEditor"] .editor div.render div.line > div {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  white-space: pre;
}
[control="CPHEditor"] .editor div.render div.line div.display {
  padding: 0px 7px;
  z-index: 5;
}
[control="CPHEditor"] .editor div.render div.line div.display span.whitespace {
  color: #ddd;
}
[control="CPHEditor"] .editor div.render div.line div.display span.suggestion {
  color: rgba(0, 0, 0, 0.2);
}
[control="CPHEditor"] .editor div.render div.line div.complement {
  padding: 0px 7px;
  color: transparent;
  z-index: 4;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.complement
  span.underline {
  transform: translateY(-1px);
  display: inline-block;
  border-bottom: 1px solid #3556e3;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.complement
  span.underline.no-match {
  border-bottom-color: #e01e1e;
}
[control="CPHEditor"] .editor div.render div.line div.line-error {
  padding: 0px 7px;
  color: transparent;
  z-index: 3;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.line-error
  span.underline {
  opacity: 0.5;
  display: inline-block;
  background-color: #fa9;
}
[control="CPHEditor"] .editor div.render div.line div.selection {
  padding: 0px 7px;
  z-index: 2;
  color: transparent;
}
[control="CPHEditor"] .editor div.render div.line div.selection span.spacer,
[control="CPHEditor"] .editor div.render div.line div.selection span.border {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: text-bottom;
}
[control="CPHEditor"] .editor div.render div.line div.selection span.border {
  background-color: #cdf1ff;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.lb:before,
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.rb:after {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  width: 0px;
  border-left: 2px solid #4c6eff;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.lb:before {
  left: -1px;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.rb:after {
  right: -1px;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border:not(.lb.rb):empty {
  width: 2px;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border
  .focus {
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  border-left-color: #3556e3;
  border-top-color: #3556e3;
  transform: rotate(225deg);
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.rtl:not(.lb)
  .focus {
  display: none;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.ltr:not(.rb)
  .focus {
  display: none;
}
[control="CPHEditor"]
  .editor
  div.render
  div.line
  div.selection
  span.border.ltr
  .focus {
  left: auto;
  right: -2px;
}
[control="CPHEditor"] .editor div.render div.line div.find {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 7px;
  color: transparent;
  z-index: 1;
}
[control="CPHEditor"] .editor div.render div.line div.find span.found {
  display: inline-block;
  position: relative;
}
[control="CPHEditor"] .editor div.render div.line div.find span.found:before {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 4px;
  background-color: #fffadc;
  border: 2px solid #ff9e29;
  margin: 0px -1px;
}
[control="CPHEditor"] .editor div.render div.line div.line-selection {
  padding: 0px 7px;
  z-index: 0;
  color: transparent;
}
[control="CPHEditor"] .editor div.render div.line div.line-selection.highlight {
  background-color: #ebf9ff;
}
[control="CPHEditor"] .editor div.render div.line div.line-selection.error {
  background-color: #fff5f4;
}
[control="CPHEditor"] .editor textarea,
[control="CPHEditor"] .editor div.render {
  transform: translate3d(0px, 0px, 0px);
  font-family: "Source Code Pro", Monospace1, Monospace2, Monospace3, monospace;
  font-variant-ligatures: none !important;
  font-weight: 400;
  white-space: pre !important;
  font-size: 12px;
  line-height: 18px;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -moz-tab-size: 2 !important;
  -o-tab-size: 2 !important;
  tab-size: 2 !important;
}
[control="CPHEditor"] .editor textarea::-webkit-scrollbar,
[control="CPHEditor"] .editor div.render::-webkit-scrollbar {
  display: none;
}
control[control="CPHContextMenu"] {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
  padding: 4px 0px;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
control[control="CPHContextMenu"] hr {
  border: 0;
  height: 1px;
  margin: 4px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}
control[control="CPHContextMenu"] .item {
  height: 24px;
  display: flex;
  padding: 0px 8px;
  overflow: hidden;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #111;
  cursor: pointer;
}
control[control="CPHContextMenu"] .item:active,
control[control="CPHContextMenu"] .item:link,
control[control="CPHContextMenu"] .item:visited {
  text-decoration: none;
}
control[control="CPHContextMenu"] .item.disabled,
control[control="CPHContextMenu"] .item.disabled:hover,
control[control="CPHContextMenu"] .item.disabled .title,
control[control="CPHContextMenu"] .item.disabled .shortcut,
control[control="CPHContextMenu"] .item.disabled svg {
  color: #ddd !important;
  background-color: transparent;
  cursor: auto;
}
control[control="CPHContextMenu"] .item:hover {
  background-color: #3556e3;
  color: #fff;
}
control[control="CPHContextMenu"] .item:hover .title svg {
  color: #70e2ff;
}
control[control="CPHContextMenu"] .item:hover .shortcut {
  color: #70e2ff;
}
control[control="CPHContextMenu"] .item .title {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 8px;
}
control[control="CPHContextMenu"] .item .title svg {
  color: rgba(0, 0, 0, 0.4);
  flex-grow: 0;
  width: 12px;
  margin-right: 8px;
}
control[control="CPHContextMenu"] .item .title em {
  font-style: normal;
  font-size: 10px;
  opacity: 0.6;
}
control[control="CPHContextMenu"] .item .title em.yes,
control[control="CPHContextMenu"] .item .title em.no,
control[control="CPHContextMenu"] .item .title em.maybe {
  margin-left: 4px;
}
control[control="CPHContextMenu"] .item .title em.yes {
  color: #006410;
}
control[control="CPHContextMenu"] .item .title em.no {
  color: #bd2222;
}
control[control="CPHContextMenu"] .item .title em.maybe {
  color: #666;
}
control[control="CPHContextMenu"] .item .shortcut {
  flex-grow: 0;
  display: flex;
  align-items: center;
  color: #666;
  font-size: 10px;
}
control[control="CPHContextMenu"] .item .shortcut svg {
  color: currentColor;
  flex-grow: 0;
  width: 8px;
  height: 8px;
}
control[control="CPHFindReplace"] {
  position: absolute;
  z-index: 99;
  top: 4px;
  right: 20px;
  padding: 4px;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 480px;
}
control[control="CPHFindReplace"] div.row {
  display: flex;
  align-items: center;
}
control[control="CPHFindReplace"] div.row:not(:first-child) {
  margin-top: 4px;
}
control[control="CPHFindReplace"] div.row input[type="text"] {
  width: 200px;
  font-family: inherit;
  font-weight: inherit;
  flex-shrink: 1;
  color: #111;
  font-size: 12px;
  height: 32px;
  display: flex;
  align-items: center;
  line-height: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  outline: none;
  border-radius: 4px;
  padding: 0px 8px;
  caret-color: #4c6eff;
}
control[control="CPHFindReplace"] div.row input[type="text"]:not(:first-child) {
  margin-left: 4px;
}
control[control="CPHFindReplace"] div.row input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
control[control="CPHFindReplace"] div.row input[type="text"]:focus {
  border-color: #3556e3;
}
control[control="CPHFindReplace"] div.row div.pos {
  color: #aaa;
  margin-left: 8px;
  padding: 0px 8px;
  white-space: nowrap;
}
control[control="CPHFindReplace"] div.row div.spacer {
  flex-grow: 1;
}
control[control="CPHFindReplace"] div.row a.btn {
  flex-shrink: 0;
  color: #666;
  height: 32px;
  padding: 0px 7px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  outline: none;
}
control[control="CPHFindReplace"] div.row a.btn:not(:first-child) {
  margin-left: 4px;
}
control[control="CPHFindReplace"] div.row a.btn > svg {
  color: currentColor;
  width: 16px;
  height: 16px;
}
control[control="CPHFindReplace"] div.row a.btn > span {
  padding: 0px 4px;
}
control[control="CPHFindReplace"] div.row a.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  color: #111;
  border-color: rgba(0, 0, 0, 0.4);
}
control[control="CPHFindReplace"] div.row a.btn:active {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0px);
}
control[control="CPHFindReplace"] div.row a.btn.on {
  background-color: #3556e3;
  color: #fff;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0px);
}
control[control="CPHFindReplace"] div.row a.btn:focus {
  border: 1px solid #3556e3;
}
control[control="CPHFindReplace"] div.row a.btn[disabled] {
  cursor: default;
  transform: translateY(0px) !important;
  border-color: transparent !important;
  color: #aaa !important;
  box-shadow: none;
}
.hljs,
.hljs-tag,
.hljs-subst {
  color: #3556e3;
}
.hljs-strong,
.hljs-emphasis {
  color: #ff9e29;
}
.hljs-bullet,
.hljs-quote,
.hljs-regexp,
.hljs-link,
.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: #b11fff;
}
.hljs-literal,
.hljs-number {
  color: #f06800;
}
.hljs-code,
.hljs-section,
.hljs-selector-class,
.hljs-string,
.hljs-html {
  color: #1c9b40;
}
.hljs-title {
  color: #3556e3;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-symbol,
.hljs-attribute {
  color: #ae2af4;
}
.hljs-params,
.hljs-class .hljs-title {
  color: #aaa;
}
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e01e1e;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #ceb18d;
}
.hljs-space {
  opacity: 0.2;
}
