ocaml-version = 5.4.0
profile = default

if-then-else = k-r
let-and = compact
module-item-spacing = preserve

exp-grouping = preserve
sequence-blank-line = preserve-one
break-cases = nested

indicate-multiline-delimiters = closing-on-separate-line
